
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #588C7E;
      --secondary-color: #ffffff;
    
  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-border: rgba(255, 255, 255, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --shadow-light: rgba(255, 255, 255, 0.1);

  --border-radius: 0.75rem;
  --card-shadow: 0 8px 32px 0 rgba(88, 140, 126, 0.1);
  --glass-background: rgba(255, 255, 255, 0.7);

  --box-shadow: 5px 5px 15px rgba(0,0,0,0.05),-5px -5px 15px rgba(255,255,255,0.9);

  --shadow-pressed: inset 3px 3px 6px rgba(0,0,0,0.1), inset -3px -3px 6px rgba(255,255,255,0.8);

  --neumorphic-shadow-dark: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --neumorphic-shadow-light: -5px -5px 10px rgba(255, 255, 255, 0.05);
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }